
.tabs{
	text-align: center;
	margin-left: 20%;
}

.tabs li{
	text-decoration: none;
	padding: 5px 10px;
	margin-right: 2px;
	text-align: center;
	float: left;
	width: 15%;
	height: 
	border: 2px solid white;
	color: white;
	background-color: #000099;
	list-style-type: none;
}

header{

	height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:300px;
    margin:0px auto;
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 15px;
}
#gallery{
	font-family:'Marck Script', cursive;
	font-size: 50px;
	text-align: center;
}

#logo{
	padding-top: 40px;
	margin-left:  40%;
	border-radius: 100%;
	}
#filardopic{
	margin-top: 40px;
	margin-left:  37%;
	border-radius: 100%
}
#name{
	text-align: center;
	font-family:'Marck Script', cursive;
	font-size: 30px;
}
#contact{
	text-align: center;
	font-family:'Marck Script', cursive;
	font-size: 20px;
}