div{
	/* IMPORTANT
	I moved all divs down 150px so that the navbar does not overlap on it. Therefore remember to:
		1. Wrap all elements in divs
		2. Reset top:0px; if you ever need to undo the change (you prob wont need to tho)
		3. you can adjust this movement accordingly if its too big or too small in the element. i made it pretty big so it covers most things.
	*/
	position: relative;
	top: 150px;
}

.navigation{
	position: fixed;
	top: 0px;
	padding-top: 5px;
	height:auto;
	z-index: 999;
	text-align: center;
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
	background:rgba(255,255,255,1);
	transition:.1s ease-in-out;

}

.navigation ul{
	padding:0;
	margin: 0px 0px;
}
.navigation li{
	text-align: center;
	display: inline-block;
	margin:0px 0px;

	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.2em;
	font-family: "Patrick Hand";
	list-style-type: none;
	color: grey;

	user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}
.nav_link {
	position: relative;
	bottom: 55px;
	padding: 5px 15px;
}

#gallery_header{
	position: relative;
	top:-50px;
	font-family:'Marck Script', cursive;
  font-size: 72px;
  background: -webkit-linear-gradient(#ff6600,#e6b800, #4d79ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	text-align: center;
	margin-top: 100px;
}

#filardopic img{
	display: block;
	margin: auto;
	text-align: center;
	border-radius: 100%;
	user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}
#nick_filardo{
	text-align: center;
	font-family:'Marck Script', cursive;
	font-size: 30px;
}
#gallery_content{
	display: block;
	margin: auto;
	overflow: auto;
	border: 2px solid black;
	user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}
.shirt{
	display: block;
	padding-top: 30px;
	margin: auto;
	float: left;
	padding: 30px;
	user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}
.shirt_description{
	display: block;
	text-align: center;
	margin:auto;
	font-size: 25px;
	font-family: "Patrick Hand";
}
#designpics{
	text-align: center;
	display: block;
	margin: ;
	padding: 20px;
	user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}
footer{
	display: block;
	margin: auto; 
	text-align: center;
}
#scroller {
	width: 90%; 
	height: 400px; 
	margin: 0 auto;
    position: relative;
    min-width: 700px;
}
#scroller .innerScrollArea {

    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#scroller ul {
    padding: 0;
    margin: 0;
    position: relative;
}
#scroller li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
}
#copyright{
	font-size: 20px;
	font-family: "Roboto";
	text-align: center;
	display: block;
	margin: auto;
}

#socialmedia{
	margin-top: 40px;
	text-align: center;
	font-family:'Marck Script', cursive;
	font-size: 20px;
}

#bio{
	margin-top: 50px;
	font-family: "Roboto", cursive;
	text-align: center;
}
#bio h1{
	font-weight: 300;
}
#bio p{
	padding-top: 10px;
	width: 75%; 
	position: relative;
	display: block;
	margin: auto;
	font-size: 20px;
	font-weight: 300;
}

#order{
	position: relative;
	display: block;
	margin: auto;
	width: 90%;
	min-width: 874px;
}
#order img{
	border-radius: 5px
}
#order div{
	position: relative;
	top: 0px;
}
#order div h1{
	text-align: left;
}
#order div h3{
	text-align: left;
	padding-left: 15px;
}
#order li{
	list-style: none;
	display: inline-block;
}
#order ul{
	display: block;
	margin: auto;
	padding: 0px 0px;
}
#styles{
	overflow: auto;
	display: block;
	margin: 0 auto;
	width: 100%;
}
#styles li{
	margin:5px 10px;
	border: 1px solid transparent;
	border-radius: 5px;
	width: 23%;
	display: inline-block;
	overflow: auto;
}
.shirt_toggled{
	border: 2px solid blue;
}
